
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: rgba(255, 255, 255, 0.702);
  --cuisine-bg: rgba(255, 255, 255, 0.902);
  --bg-sec-color: floralwhite;

}

/* Dark mode */
.dark {
  --bg-color: #111111;
  --text-color: #ffffff;
  --header-bg: rgba(255, 255, 255, 0.702);
  --cuisine-bg: rgba(24, 24, 24, 0.902);
  --bg-sec-color: rgb(92, 90, 85);

}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Preloader */
#preloader {
  background: var(--bg-color) url("../images/ChefLoading.gif") no-repeat center
    center;
  background-size: 20%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

#header {
  padding: 0;
  background-image: url("../images/pexels-pixabay-326279\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 85vh;
}

#header .container {
  width: 100%;
  margin: 0 auto;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#header .top-header {
  display: flex;
  justify-content: space-between;
}

#header .branding {
  text-align: left;
}

#header .branding h1 {
  font-size: 25px;
  font-family: "Times New Roman";
  color: var(--header-bg);
  font-weight: bold;
  font-style: italic;
}

#header .branding h1 span {
  font-style: normal;
  display: block;
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 35px;
  font-family: "Lato";
  color: #fff;
  font-weight: bold;
}

#header .branding .btn-cta {
  padding: 8px 36px;
  text-transform: uppercase;
  border: 3px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Lato";
  color: #fff;
  background-color: rgba(246, 150, 121, 0);
  font-weight: bold;
  text-align: center;
}

#header .branding .btn-cta:hover {
  background-color: #fff;
  color: #111111;
}

#header .branding p {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Lato";
  color: #fff;
  margin: 33px 0 0 0;
}

#header .branding p a {
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #header {
    height: 100vh;
  }

  #header .container {
    height: 81%;
    width: 81%;
    margin: 0 auto;
  }

  #header .branding h1 span {
    font-size: 75px;
  }

  #header .branding .btn-cta {
    padding: 18px 60px;
  }
}

@media screen and (min-width: 1024px) {
  #header .container {
    width: 87%;
    margin: 0 auto;
  }
}

#footer {
  font-family: "lato";
  font-size: 3vw;
  text-align: center;  
  margin-top: auto;
}

#footer .container {
  width: 100%;
  margin-bottom: 0;
  /* position: fixed; */
}

@media screen and (min-width: 768px) {
  #footer .container {
    width: 81%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

#features {
  margin: 50px 0 70px 0;
}

#features .container {
  width: 90%;
  margin: 0 auto;
}

#features .feature {
  text-align: center;
}

#features .feature .fig-image {
  margin: 0;
}

#features .feature h2 {
  display: inline-block;
  margin: 5px 0 0 0;
  padding-bottom: 7px;
  font-size: 18px;
  font-family: "Lato";
  color: var(--text-color);
  font-weight: bold;
  border-bottom: 1px solid #ff3333;
}

#features .feature p {
  font-family: "Lato";
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  #features .container {
    display: flex;
    width: 81%;
    margin: 0 auto;
  }
}

#mobile-app {
  font-family: "Lato";
  padding: 30px 0 0 20px;
  background-color: var(--bg-color);
  text-align: center;
}

#mobile-app .content h2 {
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

#mobile-app .content h2 span {
  border-bottom: 1px solid #ff3333;
  padding-bottom: 8px;
}

#mobile-app .iphone {
  display: none;
}
.download-button {
  margin: 5% 3% 5% 0;
  color: var(--text-color);
}
.download-google {
  color: #fff;
}

@media screen and (min-width: 768px) {
  #mobile-app {
    padding: 30px 0 0 0;
    text-align: left;
  }

  #mobile-app .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  #mobile-app .content {
    flex-basis: calc(55% - 3em);
  }

  #mobile-app .iphone {
    flex-basis: calc(45% - 3em);
    margin: 0;
    order: -1;
    display: block;
  }

  #mobile-app .iphone img {
    width: 100%;
    height: 100%;
  }
}

#reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/reviews-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 315px;
  text-align: center;
  font-size: 18px;
  font-family: "Lato";
  color: #fff;
}

#reviews .quote {
  margin: 0;
}

#reviews .quote footer {
  margin-top: 18px;
  font-size: 14px;
}

#cuisines {
  font-family: "lato";
}

#cuisines h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  padding-top: 40px;
}

#cuisines h2 span {
  padding-bottom: 5px;
  border-bottom: 1px solid red;
}

#cuisines .container {
  margin-top: 50px;
}

#cuisines .container .cuisine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 230px;
}

#cuisines .container .cuisine h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
}

#cuisines .container .cuisine p {
  font-family: "Times New Roman";
  color: rgba(255, 255, 255, 0.902);
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

#cuisines .container .american {
  background-image: url("../images/american.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#cuisines .container .chinese {
  background-image: url("../images/chinese.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#cuisines .container .french {
  background-image: url("../images/french.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#cuisines .container .indian {
  background-image: url("../images/indian.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#cuisines .container .italian {
  background-image: url("../images/italian.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#cuisines .container .mexican {
  background-image: url("../images/mexican.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#cuisines .container .pizza {
  background-image: url("../images/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#cuisines .container .seafood {
  background-image: url("../images/seafood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#cuisines .container .steak {
  background-image: url("../images/steak.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#cuisines .container .sushi {
  background-image: url("../images/sushi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 768px) {
  #cuisines .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #cuisines .container .cuisine {
    width: 20%;
  }
}

#statistics {
  font-family: "lato";
  background-color: #4a3949;
  padding: 25px 0;
}

.section-count {
  background-color: rgba(0, 0, 0, 0.857);
}

@media screen and (min-width: 768px) {
  #statistics {
    border-bottom: 1px solid grey;
    background-color: rgba(7, 7, 7, 0.923);
    display: flex;
    justify-content: space-around;
  }

  #statistics .stat-data {
    color: rgb(252, 252, 252);
    padding: 20px;
    margin: 10px;
  }

  #statistics .stat-data h3 {
    font-size: 34px;
  }

  #statistics .stat-data h3 span {
    font-size: 13px;
  }
}

#testimonials {
  text-align: center;
  color: white;
  padding: 10% 2%;
}

.carousel-items {
  padding: 7% 15%;
}

.testimonial-text {
  padding: 1% 20%;
}

#footer {
  display: flex;
  position: relative;
  background-color: #eff0e6;
  padding: 3% 15%;
  bottom: 0;
}

.footer-text {
  color: #000000;
  margin-top: 0.7rem;
  font-size: 0.7rem;
}

.footer-img {
  margin: 0 0.5rem;
  color: black;
}

/*# sourceMappingURL=style.css.map */

.contactForm {
  margin-top: 4.25%;
  margin-bottom: 5%;
  width: 100%;
  padding: 0.4rem 0 0.8rem 1.7rem;
}

.formHeading {
  text-align: center;
  font-size: xxx-large;
  color: white;
  font-weight: bold;
}

.formSection {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}

.form {
  width: 60%;
  background-color: rgb(35, 36, 36, 0.8);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem 0 1.5rem 0;
}

.image-box {
  width: 40%;
  
  background-image: url("../images/im1-transformed.png");
  background-size: cover;
  transform: scaleY(0.975);
  border-radius: 1.5rem 0 1.5rem 0;
}

.form label {
  color: var(--bg-color);
  font-size: large;
  font-weight: bold;
}

.form input {
  border-radius: 0.8rem;
  font-size: large;
  padding: auto;
}

.form .row {
  margin: 0.4rem 0;
}

.contactForm textarea {
  border-radius: 0.8rem;
  font-size: large;
  margin: 0.4rem 0;
}

.form-button {
  width: 100%;
  background-color: rgb(250, 136, 6);
  color: white;
  font-size: x-large;
  text-align: center;
  border: none;
  padding: 0.5rem 0;
  justify-content: center;
  font-weight: bold;
  border-radius: 0.5rem;
}

.testimonial-container {
  display: flex;
  overflow-x: scroll;
  padding: 3rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: max-content;
  width: 500px;
  min-width: 400px;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: -1rem 0 3rem #000;
  background-color: #daa03f;
  transition: transform 0.2s ease-in;
  justify-content: space-between;
  /* z-index: -386; */
}

.card:hover {
  transform-origin: 100% 0;
  transform: translateY(1.4rem) rotate(5deg);
}

/* selecting siblings tha come after the hovered card */
.card:hover ~ .card {
  transform: translateX(100px);
}

.card:not(:first-child) {
  margin-left: -100px;
}

.testimonial-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.testimonial-container::-webkit-scrollbar-thumb {
  background-color: #201c29;
  border-radius: 15px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.testimonial-container::-webkit-scrollbar-track {
  background-image: linear-gradient(
    90deg,
    #201c29,
    #201c29 1px,
    #17141d 0,
    #17141d
  );
}

.customer-info {
  display: grid;
  position: relative;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
  color: var(--bg-sec-color);
}

.customer-info img {
  display: inline;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.card-header span {
  font-weight: 600;
  font-style: italic;
  margin-right: 5px;
  color: var(--bg-sec-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.card-header > p {
  padding: 1rem;
  color: var(--bg-sec-color);
}

header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.white-section {
  background-color: var(--footer-color);
  color: var(--text-color);
}

@media only screen and (max-width: 1000px) {
  .form {
    width: 100%;
    margin-top: 120px;
  }

  .form .row {
    margin: 1.4rem 0;
  }

  .image-box {
    display: none;
  }

  .form label {
    font-size: xx-large;
  }

  .form input {
    font-size: x-large;
    padding: 1.2rem;
  }

  .form-button {
    font-size: xx-large;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 800px) {
  .form-button {
    font-size: large;
    padding: 0.5rem 0;
  }

  .formHeading {
    font-size: x-large;
  }

  .form {
    width: 100%;
    margin-top: 50px;
    padding: 1rem 0.6rem;
  }

  .image-box {
    display: none;
  }

  .form label {
    font-size: medium;
  }

  .form input {
    font-size: medium;
    padding: 0.5rem 0;
  }

  .contactForm textarea {
    font-size: small;
    margin: 0.1rem 0;
  }
  .form .row {
    margin: 0.4rem 0;
  }
}

@media only screen and (max-width: 400px) {
  .form {
    padding: 1rem 0.6rem;
  }

  .form-button {
    font-size: small;
    padding: 0.1rem 0;
  }
  .contactForm textarea {
    font-size: small;
    margin: 0.1rem 0;
  }

  .formHeading {
    font-size: large;
  }

  .form label {
    font-size: small;
  }

  .form input {
    font-size: small;
    padding: 0.1rem 0;
  }

  .form .row {
    margin: 0.4rem 0;
  }
}

/* Styling the About Section */

.aboutsection {
  color: #000;
}

.aboutsection:hover {
  color: grey;
}
.abouttext {
  background-color: rgb(119, 73, 73);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  margin: 0vw;
  font-size: 6vw;
  padding: 8vh;
  font-family: "Times New Roman";
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

.abouttext>h1{
  font-size: 0.6em;
}

.abtHead {
  font-size: 4vw;
  font-family: "Times New Roman";
  color: rgb(210, 210, 38);
  text-align: center;
}

.abtcontent .h2{
  padding: 4vh;
}

.abtcontent {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  margin: 0;
  padding: 10vh;
  text-align: center;
  color: #FFFFFF;
  font-size: 2vw;
  flex-grow: 1;
}

/* dark and light mode toggle */
.toggle-container {
  padding: 0.5rem;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  
  
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
